   body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin:0;
        }
        h2
         {
            color: #333399;
        }
        p {
            color: #555;
        }
        div.sent {
            border:2px solid black;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number],input[type=text],input[list]
        {
                width: 40%;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 15px;
              resize: vertical;
              margin:3px;

        }
        input[type=number]
        {
            -moz-appearance:textfield;
        }

        form 
        {
            background-color:seablue;
            padding:20px;
        }
        button {
          background-color: #04AA6D;
          color: white;
          padding: 7px 40px;
          border: none;
          border-radius: 15px;
          cursor: pointer;
          margin-top:20px;
          font-size: 32px;
        }

        button:hover {
          background-color: #45a049;
        }
        label {
            color:white;
            margin-left:20px;
            font-size:14px;
            font-weight: bold;

        }

        .topnav {
              overflow: hidden;
              background-color: #333;
            }

            .topnav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }

            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }

            .topnav a.active {
              background-color: #04AA6D;
              color: white;
            }
                           